/* Default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('woodland_camo.jpg');
  background-size: cover;
  position: relative;
}

h1.page-title {
  text-align: center;
  font-size: 36px;
  color: black; /* Set the text color to black */
}

p.sub-title {
  text-align: center;
  font-size: 12px;
  color: #429E9D; /* Set the text color to #429E9D */
}

#white-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Set the background color to white with 70% opacity */
  z-index: -1;
}

select,
input[type="text"] {
  font-size: 20px;
  padding: 10px;
}

button {
  font-size: 20px;
  padding: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 2px solid black; /* Set border thickness and color */
}

.lock-checkbox {
  transform: scale(1.5);
}

/* Styles for mobile devices */
@media screen and (max-width: 767px) {
  body {
    padding: 10px;
  }

  h1.page-title {
    font-size: 24px;
  }

  input[type="text"],
  select {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  #convert-section {
    text-align: center;
  }

  #result-section,
  #history-section {
    overflow-x: auto;
  }
}

/* Additional styles for the icon */
.icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 150px;
  height: 150px;
  background-image: url('icon.png');
  background-size: cover;
  z-index: 9999;
}

/* Alternating background colors for columns in history table */
#history-table tbody tr:nth-child(even) td {
  background-color: #f2f2f2; /* Set the light gray background color for even number entries */
}

/* Background color for the title row of the history table */
#history-table thead tr {
  background-color: #e6e6e6; /* Set the light gray background color for the title row */
}

/* Styling for the mils result */
#mils-result {
  color: red; /* Set the text color to red */
  font-weight: bold; /* Set the font weight to bold */
  font-size: 24px; /* Set the font size to 24px */
}
